@charset "UTF-8";
/*Обнуление*/
@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;700;900&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
body {
  font-family: "Heebo", sans-serif;
  background: #fff;
  font-size: 16px;
  color: #21243D;
  font-weight: 400;
}
body.active {
  overflow: hidden;
}

.wrapper {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  background-color: #fff;
}

._container {
  max-width: 886px;
  padding: 0 15px;
  margin: 0 auto;
}

/*--header-----------------------------------------*/
.header::before {
  content: "";
  display: block;
  width: 100%;
  height: 70px;
  background-color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
}
.header__burger {
  display: none;
  width: 30px;
  height: 20px;
  position: fixed;
  z-index: 3;
  cursor: pointer;
}
.header__burger span {
  content: "";
  display: block;
  height: 2px;
  width: 100%;
  position: absolute;
  background-color: #21243D;
  left: 0;
  top: 9px;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
.header__burger:after, .header__burger:before {
  content: "";
  display: block;
  height: 2px;
  width: 100%;
  position: absolute;
  background-color: #21243D;
  left: 0;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
.header__burger::after {
  bottom: 0;
}
.header__burger::before {
  top: 0;
}
.header__container {
  max-width: 1032px;
  padding: 0 15px;
  margin: 0 auto;
  position: relative;
}
.header__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}
.header__menu {
  position: fixed;
  z-index: 3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  height: 70px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__menu > :not(:last-child) {
  margin-right: 33px;
}
.header__menu li a {
  color: #000;
  font-size: 20px;
  line-height: 1.45;
  font-weight: 500;
}
.header__menu li a.selected {
  color: #FF6464;
}
@media (max-width: 500px) {
  .header__body {
    z-index: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .header::before {
    z-index: 2;
    height: 50px;
  }
  .header__menu {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-transition: all 0.3s linear;
    transition: all 0.3s linear;
    top: 0;
    left: 0;
    width: 100%;
    height: 0;
    background-color: #fff;
    overflow: hidden;
  }
  .header__menu.active {
    height: 100%;
    padding: 70px 0 0 20px;
  }
  .header__menu.active > :not(:last-child) {
    margin-bottom: 20px;
  }
  .header__burger {
    display: block;
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 3;
  }
  .header__burger.active span {
    width: 0;
  }
  .header__burger.active::before {
    -webkit-transform: rotateZ(45deg);
            transform: rotateZ(45deg);
    top: 9px;
  }
  .header__burger.active::after {
    -webkit-transform: rotateZ(-45deg);
            transform: rotateZ(-45deg);
    bottom: 9px;
  }
}

/*--works------------------------------------------*/
.works {
  margin-bottom: 83px;
  padding-top: 160px;
}
.works__title {
  font-size: 44px;
  line-height: 1.36;
  font-weight: 900;
  margin: 25px 0 10px;
}

.items > :not(:first-child) {
  margin-top: 31px;
}
.items__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 15px;
  border-bottom: 1px solid #E0E0E0;
}
.items__image {
  height: 180px;
  width: 246px;
  border-radius: 6px;
  overflow: hidden;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}
.items__image img {
  display: inline-block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.items__info {
  margin-left: 18px;
}
.items__info > :not(:last-child) {
  margin-bottom: 16px;
}
.items__title {
  font-size: 30px;
  line-height: 1.47;
  font-weight: 700;
}
.items__subtitle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 274px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.items__when {
  background: #142850;
  border-radius: 16px;
  width: 62px;
  height: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.items__when span {
  color: #fff;
  font-size: 18px;
  font-weight: 900;
}
.items__what {
  font-size: 20px;
  line-height: 1.45;
  color: #8695A4;
}
.items__text {
  font-size: 16px;
  line-height: 1.5;
}
@media (max-width: 620px) {
  .items__title {
    font-size: 26px;
  }
  .items__title {
    margin-top: 16px;
  }
  .items__item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .items__image {
    margin: 0 auto;
    width: 339px;
    height: 230px;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
  }
}
@media (max-width: 400px) {
  .items__image {
    height: 180px;
    width: 246px;
  }
}

/*--footer-----------------------------------------*/
.footer__body {
  width: 232px;
  margin: 0 auto;
  padding-bottom: 54px;
}
.footer__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 26px;
}
.footer__text {
  font-size: 14px;
}